@model IEnumerable<BasicMvcApp.Models.Product>

@{
    ViewData["Title"] = "Products List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">New Product</a>
</p>
<table class="table table-hover">
    <thead class="bg-dark">
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th class="text-white"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td class="text-end">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
